<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<main class="py-5">
    <section class="mx-5">
        <h1>Чому ніхто не сміється з ваших жартів?</h1>
        <p>Так от, ви розповіли жарт, але замість очікуваних гомону сміху, вас зустрічає лише мовчання, або може бути довгий, сумний скретч платівки. Задзвонює кашель у куті кімнати. Починає плакати дитина. Десь у світі голуб падає з неба мертвий.</p>

        <p>Що сталося? Ви були впевнені, що цей жарт "уб'є". Як це сталося, що він пішов не так? Це чиясь вина? Було б вам супер. Але це не так.</p>

        <p>Як особа, яка почула більше, ніж свою частку "цикання" крикетів, у мене є трохи мудрості щодо провалених жартів. Нижче я перерахував чотири найпоширеніші способи, якими може бути розбита ліжко комедії, а також деякі корисні (або не дуже) поради, як цю ситуацію можна незамітно виправити.</p>

        <h2>1. Вони вже це чули</h2>
        <p>Існує кілька теорій того, що робить речі смішними, і якщо ви хочете прочитати про них, ви можете це зробити. (Я попереджаю вас наперед, це не дуже смішні речі, насправді, це одна з найсухіших, меленийших речей, що коли-небудь були написані). Проблематично, що більшість цих теорій недостатньо повні. Зазвичай досить легко придумати гіларіозні жарти, які теорія не охоплює, або сконструювати жарти за цією теорією, які насправді досить погані.</p>

        <p>Теорії все ж не є абсолютно ніщоюці, і одна умова, яка з'являється в багатьох з них, це те, що жарт має бути несподіваним. Глядачі не повинні передбачити жарт. Якщо це здається вам очевидним, зверніть увагу, що це стосується не тільки жартів, повторених дослівно; це стосується форматів і структур також. Тому, якщо ви дивилися ситкоми всім своєму життю, ви можете перейти до ... ну, майже всього на CBS, і побачити всі жарти, що повзають повільно на вас, наче сумні, смішно приречені динозаври. Жарти все ще оригінальні та смішні своєю манерою, але через те, що вони слідують одній й тій же структурі та ритму, який ситкоми використовують протягом останніх 50 років, їх набагато менше задоволення дивитися. Людина може витримати лише так багато непорозумінь на основі різних визначень слова "піддзьоб" до того моменту, поки вони не зламаються.</p>

        <h2>Як робити краще</h2>
        <p>Урок полягає в тому, щоб намагатися розповідати такі жарти, які люди ще не чули.</p>

        <h2>2. Вони не мали достатньо інформації, щоб зрозуміти</h2>
        <p>Допустимо, ви розповіли жарт, який досить оригінальний, але він все одно не викликав значної реакції. Чи потрібно було специфічні знання для його розуміння? Як внутрішній жарт, який зрозуміли б тільки люди, які працюють у вашому офісі?</p>

        <h2>Як робити краще</h2>
        <p>Маючи аудиторію на увазі, коли думаєте про жарт, будьте принаймні трохи уважні до того факту, що у них можуть бути не ті самі інтереси, знання і досвід, які у вас є. Якщо вам потрібно зробити посилання на щось зовнішнє, поясніть його, якщо це можливо, або взагалі видаліть посилання. Розумійте, що жарт, який можуть зрозуміти тільки фанати "Бойового зоряного галактика", ймовірно, менше цінний, ніж жарт про когось, хто отримав болісне пошкодження в області лобка, що всі можуть насолодитися. Ваша мета як смішної людини - завдавати більше болю людям в області лобка.</p>

        <h2>3. Це було про щось, про що вони ніколи не сміятимуться, ніколи</h2>
        <p>Є певні речі, які ви дуже серйозно відносите, теми, настільки важливі для вас, що ви малоймовірно хотіли б про них жартувати. Я не буду і не можу вам сказати, які питання особливо важливі для вас, але згвалтування, смерть дитини або геноцид - це досить поширені питання, які важливі для більшості людей. У вас буде більше таких питань, враховуючи ваші особисті досвіди або досвід ваших близьких.</p>

        <h2>Як робити краще</h2>
        <p>Дуже часто в таких випадках я чую, що відповідь полягає в тому, що ображена сторона повинна "підняти настрій". Я ненавиджу це. Мені не подобається, як воно покладає вину за провальний жарт на аудиторію, і мені не подобається, як це практично завжди використовується поганою комічною забавою для захисту поганих жартів. Якщо хтось дуже серйозно ставиться до чогось, у нього є на це причини, які він не може ігнорувати. Не глузуйте з них через це.</p>

        <p>Рішення полягає в тому, щоб хоча б трохи розуміти, про що ваша аудиторія не буде сміятися, і налаштовувати свої жарти відповідно, або взагалі відмовлятися від них. Ви можете обійтися без жартів про Голокост? Так, звісно, можете. Дурень.</p>

    </section>
</main>



<%- include('../partials/_footer.ejs') %>
